%h1 Upload log
= form_for @log, :html => {:multipart => true} do |f|
  - if @log.errors.any?
    #error
      %h2 #{pluralize(@log.errors.count, "error")} prohibited this log from being saved:
      %ul
        - @log.errors.full_messages.each do |msg|
          %li= msg
  #up_right
    = recaptcha_tags :display => {:theme => 'white', :tabindex => 2}
  #up_left
    %h2 Select log...
    = f.fields_for :content do |ff|
      %p #{ff.file_field :body}
    %p #{f.label :game_id, 'Game'}: #{f.select :game_id, Game.all.map{|g| [g.name, g.id]}, :include_blank => true}
    %p #{f.label :author}: #{f.text_field :author}
  #up_bottom
    = f.submit '', :id => 'up_submit'
